.photoset
  display: flex
  flex-wrap: wrap
  justify-content: between

  .feedPhoto
    display: flex
    flex-direction: column
    padding: 10px
    max-width: auto
    height: 100%
    margin-bottom: 5px

    .feedInfo
      padding-top: 10px
      display: flex
      flex-direction: row-reverse
      color: grey

      .streak
        padding-right: 13px

      .comments
        padding-right: 13px

  .username
    display: flex
    justify-content: center
    margin-bottom: 21px
    color: #3a8bbb
    font-size: 20px



  img
    max-width: 250px
    height: 250px
