.profile
  display: flex
  flex-direction: column
  align-items: center
  padding-top:

.accolades
  align-items:flex-start

.photoset
  diplay: flex
  flex-direction: row

  div
    flex-direction: row
